doctype html  
html(lang='en')  
  head
    title Edit #{doc}
    script(src="https://cdnjs.cloudflare.com/ajax/libs/jsoneditor/5.28.2/jsoneditor.js")
    link(href='https://cdnjs.cloudflare.com/ajax/libs/jsoneditor/5.28.2/jsoneditor.css', rel='stylesheet')
    style().
      * { margin:0; padding:0 }
      #editor_container { height: 100vh; }
      #toolbar
      {
        position: absolute;
        top: 0;
        right: 0;
      }
      
      button#button_save
      {
        width: 100%;
        height: 30px;
        color: white;
        background: none;
        border: none;
        outline: none;
        cursor: pointer;
        transition: color 250ms, opacity 250ms;
        padding: 0 1.5em;
        opacity: 0;
        pointer-events: none;
      }
      button#button_save:hover { color: aqua; }
      button#button_save:active { color: LightSkyBlue; }
      button#button_save.saving { pointer-events: none; opacity: .4; }
      #editor_container.dirty button#button_save { 
        pointer-events: initial;
        opacity: 1;
      }
      
      .jsoneditor-poweredBy { display: none; }
      #footer { height: 0; overflow: visible; }
      #footer p
      { 
        color:#ace;
        font-family:monospace;
        font-size:.75em; 
        margin: .25em;
      }
      input[type=checkbox] {
        height: 1em;
        zoom: 200%;
      }
      div.jsoneditor {
        border: none;
      }
      div.jsoneditor-menu {
        background-color: #2f2f2f;
        border-bottom: 1px solid black;
        transition-property: background-color, border-color;
        transition-duration: 250ms;
      }
      .dirty div.jsoneditor-menu {
        background-color: Purple;
        border-bottom: 1px solid Purple;
      }
  body
    #editor_container
    #toolbar
      button#button_save(onclick='onClickSave()') 💾&#xFE0E; Apply

    script(type='text/javascript').
      var doc = "#{doc}"
      var original_json = `!{json}`
      var container = document.getElementById("editor_container")
      var options = {
        history : true,
        mode : 'code',
        modes : ['tree','code'],
        search : false,
        navigationBar : false,
        statusBar : false,
        enableSort : false,
        onChange : (...rest) => {
          var dirty = original_json != editor.getText()
          if ( dirty )
            container.classList.add("dirty")
          else 
            container.classList.remove("dirty")
          if ( editor.mode != "code" )
            onClickSave()
        }
      }
      var editor = new JSONEditor(container, options)
      
      editor.set( JSON.parse(original_json) )
  
      var button_save = document.getElementById("button_save")
      function onClickSave() {
        const json = editor.getText()
        const Http = new XMLHttpRequest();
        const url=`/set/${doc}`;
        Http.open("POST", url);
        Http.send(json);
        Http.onreadystatechange=(e)=> {
          if ( !Http.responseText ) return;
          console.log( Http.responseText)
          button_save.classList.remove("saving")
          container.classList.remove("dirty")
          original_json = json
        }
        button_save.classList.add("saving")
      }